.wrapper-seller-product-manage {
    .seller-product-manage {
        .toolbar {
            display: flex;
            justify-content: space-between;
            .search-filter {
                display: flex;
                justify-content: space-between;
                width: 60%;
                .search {
                    display: inline-flex;
                    align-items: center;
                    position: relative;
                    width: 65%;
                    .search-input {
                        height: 40px;
                        width: 100%;
                        padding: 0 10px;
                        border: 1px solid #ccc;
                        outline: none;
                    }
                    .search-icon {
                        font-size: 20px;
                        position: absolute;
                        right: 10px;
                    }
                }
        
                #role {
                    width: 30%;
                    padding: 0 10px;
                    border: 1px solid #ccc;
                    outline: none;
                    appearance: none;
                    background-image: url('../../assets/imgs/drop-down-icon.png');
                    background-repeat: no-repeat;
                    background-position: right 10px top 50%;
                    background-size: 15px 15px;
                    cursor: pointer;
                    .role-item {
                        appearance: none;
                    }
                }                   
            }
            .approve {
                background-color: #fff;
                padding: 0 20px;
                border: 1px solid var(--primary-color);
                color: var(--primary-color);
                font-size: 14px;
                font-weight: 500;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    background-color: var(--primary-color);
                    color: #fff;
                }
            }
        }
    }
}